[submodule "qtcreator"]
	path = dist/ide/qtcreator
	url = git://code.qt.io/qt-creator/qt-creator.git
        ignore = dirty
[submodule "qtcreator-plugin-linkmotion"]
	path = dist/ide/qtcreator-plugin-linkmotion
	url = ../qtcreator-plugin-linkmotion.git
        ignore = dirty
[submodule "lm-toolchain-sdk-tools"]
	path = dist/link-motion.com/lm-toolchain-sdk-tools
	url = ../lm-toolchain-sdk-tools.git
	ignore = dirty
