<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>LinkMotion SDK (alpha) 2017/07</Name>
    <Version>1.0.1</Version>
    <ProductUrl>http://www.link-motion.com</ProductUrl>
    <Title>LinkMotion SDK (alpha) 2017/07</Title>
    <Publisher>Link Motion Oy</Publisher>
    <StartMenuDir>LinkMotionSDK</StartMenuDir>
    <TargetDir>/opt/lm-sdk</TargetDir>
    <ControlScript>control.js</ControlScript>
    <InstallerWindowIcon>lm_logo</InstallerWindowIcon>
    <InstallerApplicationIcon>lm_logo</InstallerApplicationIcon>
    <Background>lm_background.png</Background>
    <Watermark>lm_watermark.png</Watermark>
    <Banner>lm_banner.png</Banner>
    <WizardStyle>Modern</WizardStyle>
    <TitleColor>#ffffff</TitleColor>
    <RemoteRepositories>
        <Repository>
            <Url>https://sdk.link-motion.com/repository</Url>
        </Repository>
    </RemoteRepositories>
</Installer>
